*.lcc filter=lfs diff=lfs merge=lfs -text
*.splat filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.lcp filter=lfs diff=lfs merge=lfs -text
*.lci filter=lfs diff=lfs merge=lfs -text
